<div class="users-new-wrapper top-blank">
  <div class="container">
    <div class="row">
      <div class="users-new-container col-md-offset-4 col-md-4">
        <div class="titles center">
          <p class="title signin inline gray">新規登録</p>
          <p><%= link_to "ログイン", "#", class: "title link login gray inline" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
