<div class="game-edit-wrapper">
  <div class="container">
    <div class="row">
      
       <div class="game-new-container col-md-offset-2 col-md-8">
        <div class="title">
          <p class="game gray">ゲーム内容編集</p>
        </div>
        <div class="entry-field">
         <%= render partial: 'entry-field', locals: { register: "編集" } %>
        </div>
      </div>
      
    </div>
  </div>
</div>
