<div class="game-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="game-index-container col-md-offset-2 col-md-8">
        <div class="title">
          <p class="game gray">ゲーム一覧</p>
        </div>
        <div class="link-btn">
          <%= link_to "ゲーム投稿", new_game_path, class: "btn btn-default" %>
        </div>
        <div class="game-topic">
          <% @games.each_slice(3) do |game1, game2, game3| %>
            <div class="line">
             <%= render partial: "games", locals: { game: game1 } %>
             <%= render partial: "games", locals: { game: game2 } %>
             <%= render partial: "games", locals: { game: game3 } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>