<div class="review-edit-wrapper">
  <div class="container">
    <div class="row">
      <div class="review-edit-container col-md-offset-2 col-md-8">
        <div class="title-container">
          <p class="title gray"><%= @review.game.title %></p>
        </div>
        <div class="entry-field">
          <%= form_for @review, :url => {controller: "reviews", action: "update"} do |f| %>
            <%= render partial: "entry-field", locals: { register: "レビュー編集" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
