<div class="review-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="review-new-container col-md-offset-2 col-md-8">
        <div class="title-container">
          <p class="title gray">投稿</p>
        </div>
      </div>
      
    </div>
  </div>
</div>
